.box{
  border: 1px solid greenyellow;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.box:hover {
  background-color: aquamarine;
  filter: grayscale();
}
.feu{
  background-color: rgba(241, 78, 13, 0.89);
}
.eau{
  background-color: rgba(3, 185, 230, 0.712);
}
.insecte{
  background-color: rgba(165, 101, 42, 0.856);
}
.normal
{
  background-color: rgba(128, 128, 128, 0.685);
}
.plante{
  background-color: rgba(7, 170, 7, 0.705);
}
.fee{
  background-color: pink;
}
.elec{
  background-color: rgba(233, 233, 12, 0.74);
}
.poison{
  background-color: rgba(156, 65, 230, 0.822);
}
